
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<style>
 .i-name{
            color: #444a53;
            padding: 30px 30px 0 30px;
            font-size: 24px;
            font-weight: 400;
        }
</style>

<h3 class="i-name">Dashboard</h3>

<div class="cards">
    <div class="card-box">
        <i class="fas fa-users"></i>
        <div>
            <h3>8,267</h3>
            <span>Users</span>
        </div>
    </div>
</div>
